# DATA PREPROCESSING

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from rdkit import Chem
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#pd.set_option('display.max_rows', None)

## Data from ChEMBL database

In [2]:
df1 = pd.read_csv('data/chembl/p2x4_chembl_data.csv')
df1

,molecule_chembl_id,canonical_smiles,standard_value
0,CHEMBL216504,O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...,100000.0
1,CHEMBL69234,Cc1nc(/N=N/c2ccc(S(=O)(=O)O)cc2S(=O)(=O)O)c(CO...,27500.0
2,CHEMBL413145,O=C(Nc1cccc(C(=O)Nc2cc(C(=O)Nc3ccc(S(=O)(=O)[O...,1000.0
3,CHEMBL494161,COc1cc(C(C)C)c(Oc2cnc(NC(CO)CO)nc2N)cc1I,10000.0
4,CHEMBL526307,COc1cc(C(C)C)c(Oc2cnc(N)nc2N)cc1I,10000.0
...,...,...,...
253,CHEMBL5177180,O=C(NC(=S)Nc1ccc(Br)cc1)c1ccc2c(c1)OCO2,14260.0
254,CHEMBL5191639,Cc1cc(Br)ccc1NC(=S)NC(=O)c1ccc2c(c1)OCO2,14260.0
255,CHEMBL5206892,CC(C)c1ccc(NC(=S)NC(=O)c2ccc3c(c2)OCO3)c(Br)c1,39.0
256,CHEMBL5205239,O=C(NC(=S)Nc1cccnc1Cl)c1ccc2c(c1)OCO2,935.0
257,CHEMBL5178892,O=C(NC(=S)Nc1cccc2cccnc12)c1ccc2c(c1)OCO2,908.0

## Data from BindingDB

In [3]:
df2 = pd.read_csv('data/bindingdb/p2x4.tsv', sep='\t')
df2

,BindingDB Reactant_set_id,Ligand SMILES,Ligand InChI,Ligand InChI Key,BindingDB MonomerID,BindingDB Ligand Name,Target Name,Target Source Organism According to Curator or DataSource,Ki (nM),IC50 (nM),...,P2X purinoceptor 4.1,Unnamed: 90,Q99571,E7EPF7 F6RU17 O00450 O14722 Q5U089 Q5U090 Q8N4N1 Q9UBG9,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98
0,51236550,NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCc1ccccc1,InChI=1S/C21H19ClN2O4S/c22-18-9-5-4-8-16(18)12...,IWXLPHQAQADBDR-UHFFFAOYSA-N,50506156,CHEMBL4471140,P2X purinoceptor 4,Homo sapiens,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51236579,NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCC1CCC1,InChI=1S/C19H21ClN2O4S/c20-16-7-2-1-6-14(16)10...,TVJYVEMKWGBUPS-UHFFFAOYSA-N,50506173,CHEMBL4589444,P2X purinoceptor 4,Homo sapiens,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51236586,COc1cccc(Oc2ccc(NC(=O)Cc3ccccc3Cl)cc2S(N)(=O)=...,InChI=1S/C21H19ClN2O5S/c1-28-16-6-4-7-17(13-16...,RDRRVCQEBQNSOY-UHFFFAOYSA-N,50506179,CHEMBL4579583,P2X purinoceptor 4,Homo sapiens,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51236591,NS(=O)(=O)c1cc(NC(=O)Cc2c(F)cccc2Cl)ccc1Oc1ccc...,InChI=1S/C20H15Cl2FN2O4S/c21-12-3-1-4-14(9-12)...,OVAMQESCERMHIF-UHFFFAOYSA-N,50506184,CHEMBL4447043,P2X purinoceptor 4,Homo sapiens,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51236594,Cc1ccccc1CC(=O)Nc1ccc(Oc2cccc(Cl)c2)c(c1)S(N)(...,InChI=1S/C21H19ClN2O4S/c1-14-5-2-3-6-15(14)11-...,PDZXSDVDZUTJTM-UHFFFAOYSA-N,50506187,CHEMBL4522504,P2X purinoceptor 4,Homo sapiens,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,50806950,Nc1ccc(CCSc2nc(N)c3ncn([C@@H]4O[C@H](COP(O)(=O...,InChI=1S/C18H25N6O13P3S/c19-10-3-1-9(2-4-10)5-...,IAEUEMYQURUPGA-LSCFUAHRSA-N,50118226,CHEMBL337062::PAPET-ATP,P2X purinoceptor 4,Rattus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,50806934,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](CO[P@](O)(=O)O[P...,InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15(...,ZKHQWZAMYRWXGA-KQYNXXCUSA-N,50366480,ADENOSINE TRIPHOSPHATE::ATP,P2X purinoceptor 4,Homo sapiens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,50806925,Cc1ncc(COP(O)(O)=O)c(C=O)c1O,InChI=1S/C8H10NO6P/c1-5-8(11)7(3-10)6(2-9-5)4-...,NGVDGCNFYWLIFO-UHFFFAOYSA-N,50118216,(4-formyl-5-hydroxy-6-methylpyridin-3-yl)methy...,P2X purinoceptor 4,Rattus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,50203169,Cc1nc(N=Nc2ccc(C(O)=O)c(Cl)c2)c(COP(O)(O)=O)c(...,InChI=1S/C15H13ClN3O8P/c1-7-13(21)10(5-20)11(6...,KMRWDYZPXRUNAQ-UHFFFAOYSA-N,50118234,CHEMBL129904::MRS 2160,P2X purinoceptor 4,Rattus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,50806989,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](CO[P@](O)(=O)O[P...,InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15(...,ZKHQWZAMYRWXGA-KQYNXXCUSA-N,50366480,ADENOSINE TRIPHOSPHATE::ATP,P2X purinoceptor 4,Rattus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
filtered_df = df2[df2['Target Source Organism According to Curator or DataSource'] == 'Homo sapiens']
filtered_df

,BindingDB Reactant_set_id,Ligand SMILES,Ligand InChI,Ligand InChI Key,BindingDB MonomerID,BindingDB Ligand Name,Target Name,Target Source Organism According to Curator or DataSource,Ki (nM),IC50 (nM),...,P2X purinoceptor 4.1,Unnamed: 90,Q99571,E7EPF7 F6RU17 O00450 O14722 Q5U089 Q5U090 Q8N4N1 Q9UBG9,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98
0,51236550,NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCc1ccccc1,InChI=1S/C21H19ClN2O4S/c22-18-9-5-4-8-16(18)12...,IWXLPHQAQADBDR-UHFFFAOYSA-N,50506156,CHEMBL4471140,P2X purinoceptor 4,Homo sapiens,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51236579,NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCC1CCC1,InChI=1S/C19H21ClN2O4S/c20-16-7-2-1-6-14(16)10...,TVJYVEMKWGBUPS-UHFFFAOYSA-N,50506173,CHEMBL4589444,P2X purinoceptor 4,Homo sapiens,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51236586,COc1cccc(Oc2ccc(NC(=O)Cc3ccccc3Cl)cc2S(N)(=O)=...,InChI=1S/C21H19ClN2O5S/c1-28-16-6-4-7-17(13-16...,RDRRVCQEBQNSOY-UHFFFAOYSA-N,50506179,CHEMBL4579583,P2X purinoceptor 4,Homo sapiens,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51236591,NS(=O)(=O)c1cc(NC(=O)Cc2c(F)cccc2Cl)ccc1Oc1ccc...,InChI=1S/C20H15Cl2FN2O4S/c21-12-3-1-4-14(9-12)...,OVAMQESCERMHIF-UHFFFAOYSA-N,50506184,CHEMBL4447043,P2X purinoceptor 4,Homo sapiens,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51236594,Cc1ccccc1CC(=O)Nc1ccc(Oc2cccc(Cl)c2)c(c1)S(N)(...,InChI=1S/C21H19ClN2O4S/c1-14-5-2-3-6-15(14)11-...,PDZXSDVDZUTJTM-UHFFFAOYSA-N,50506187,CHEMBL4522504,P2X purinoceptor 4,Homo sapiens,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,50807026,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](COP(O)(=O)OP(O)(...,InChI=1S/C10H15N5O9P2S/c11-8-5-9(13-2-12-8)15(...,HCIKUKNAJRJFOW-KQYNXXCUSA-N,50118230,5'-O-[(R)-HYDROXY(THIOPHOSPHONOOXY)PHOSPHORYL]...,P2X purinoceptor 4,Homo sapiens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,50807025,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](COP(O)(=O)OP(O)(...,InChI=1S/C20H28N10O19P4/c21-15-9-17(25-3-23-15...,YOAHKNVSNCMZGQ-XPWFQUROSA-N,50118220,"(ppA)2::A(5')p4(5')A::CHEMBL339385::P(1),P(4)-...",P2X purinoceptor 4,Homo sapiens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,50807016,CN([C@@H](Cc1ccc(OS(=O)(=O)c2cccc3cnccc23)cc1)...,"InChI=1S/C38H35N5O6S2/c1-41(50(45,46)36-11-5-7...",RJVLFQBBRSMWHX-DHUJRADRSA-N,50087267,"(1-(N,O-bis(1,5-isoquinolinesulfonyl)-N-methyl...",P2X purinoceptor 4,Homo sapiens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,50973503,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](CO[P@](O)(=O)O[P...,InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15(...,ZKHQWZAMYRWXGA-KQYNXXCUSA-N,50366480,ADENOSINE TRIPHOSPHATE::ATP,P2X purinoceptor 4,Homo sapiens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,50806934,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](CO[P@](O)(=O)O[P...,InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15(...,ZKHQWZAMYRWXGA-KQYNXXCUSA-N,50366480,ADENOSINE TRIPHOSPHATE::ATP,P2X purinoceptor 4,Homo sapiens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
selection = ['BindingDB Reactant_set_id','Ligand SMILES','IC50 (nM)']
df3 = filtered_df[selection]
df3

,BindingDB Reactant_set_id,Ligand SMILES,IC50 (nM)
0,51236550,NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCc1ccccc1,2.0
1,51236579,NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCC1CCC1,5.0
2,51236586,COc1cccc(Oc2ccc(NC(=O)Cc3ccccc3Cl)cc2S(N)(=O)=...,8.0
3,51236591,NS(=O)(=O)c1cc(NC(=O)Cc2c(F)cccc2Cl)ccc1Oc1ccc...,9.0
4,51236594,Cc1ccccc1CC(=O)Nc1ccc(Oc2cccc(Cl)c2)c(c1)S(N)(...,10.0
...,...,...,...
367,50807026,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](COP(O)(=O)OP(O)(...,NaN
368,50807025,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](COP(O)(=O)OP(O)(...,NaN
370,50807016,CN([C@@H](Cc1ccc(OS(=O)(=O)c2cccc3cnccc23)cc1)...,NaN
373,50973503,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](CO[P@](O)(=O)O[P...,NaN
375,50806934,Nc1ncnc2n(cnc12)[C@@H]1O[C@H](CO[P@](O)(=O)O[P...,NaN

In [6]:
df1.columns = ['X', 'Y', 'Z']
df3.columns = ['X', 'Y', 'Z']

In [7]:
df3 = df3[df3.Y.notna()]
df3 = df3[df3.Z.notna()]

In [8]:
df3['Z'] = df3['Z'].str.replace('[<>]', '')
df3

<ipython-input-8-fe0c013c9f77>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Z'] = df3['Z'].str.replace('[<>]', '')

            X                                                  Y        Z
0    51236550    NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCc1ccccc1      2.0
1    51236579      NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCC1CCC1      5.0
2    51236586  COc1cccc(Oc2ccc(NC(=O)Cc3ccccc3Cl)cc2S(N)(=O)=...      8.0
3    51236591  NS(=O)(=O)c1cc(NC(=O)Cc2c(F)cccc2Cl)ccc1Oc1ccc...      9.0
4    51236594  Cc1ccccc1CC(=O)Nc1ccc(Oc2cccc(Cl)c2)c(c1)S(N)(...     10.0
..        ...                                                ...      ...
334  51089275                   COC1=Cc2ccccc2N(C(N)=O)c2ccccc12   100000
335  51089279                   CCOC1Cc2ccccc2N(C(N)=O)c2ccccc12   100000
336  51089281                        NC(=O)N1c2ccccc2CCc2ccccc12   100000
337  51323258  N.N.N.N.Nc1ncnc2n(cnc12)[C@@H]1O[C@H](COP(O)(=...   100000
339  51089200                    NC(=O)N1c2ccccc2C=Cc2cc(O)ccc12   146000

[273 rows x 3 columns]

In [9]:
def to_canonical(smiles):
    mol = Chem.MolFromSmiles(smiles)
    if mol:
        return Chem.MolToSmiles(mol, isomericSmiles=True)
    else:
        return None

In [10]:
smiles_list = df3['Y']

canonical_smiles_list = [to_canonical(smiles) for smiles in smiles_list]

df3.loc[:, 'Y'] = canonical_smiles_list

In [11]:
df3

            X                                                  Y        Z
0    51236550    NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCc1ccccc1      2.0
1    51236579      NS(=O)(=O)c1cc(NC(=O)Cc2ccccc2Cl)ccc1OCC1CCC1      5.0
2    51236586  COc1cccc(Oc2ccc(NC(=O)Cc3ccccc3Cl)cc2S(N)(=O)=...      8.0
3    51236591  NS(=O)(=O)c1cc(NC(=O)Cc2c(F)cccc2Cl)ccc1Oc1ccc...      9.0
4    51236594  Cc1ccccc1CC(=O)Nc1ccc(Oc2cccc(Cl)c2)c(S(N)(=O)...     10.0
..        ...                                                ...      ...
334  51089275                   COC1=Cc2ccccc2N(C(N)=O)c2ccccc21   100000
335  51089279                   CCOC1Cc2ccccc2N(C(N)=O)c2ccccc21   100000
336  51089281                        NC(=O)N1c2ccccc2CCc2ccccc21   100000
337  51323258  N.N.N.N.Nc1ncnc2c1ncn2[C@@H]1O[C@H](COP(=O)(O)...   100000
339  51089200                    NC(=O)N1c2ccccc2C=Cc2cc(O)ccc21   146000

[273 rows x 3 columns]

## Data from PubChem database

In [12]:
df4 = pd.read_csv('data/pubchem/pubchem_smiles.csv')
df4.columns = ['X', 'Y', 'Z']
df4

             X                                                  Y        Z
0     11636756  C1=CC(=CC(=C1)NC(=O)NC2=CC=CC(=C2)C(=O)NC3=C(C...   1000.0
1     71457339  C1=CC=C2C(=C1)N(C3=CC=CC=C3O2)C(=O)C4=CC=C(C=C...   5290.0
2      2320735  CC1=CC=C(C=C1)S(=O)(=O)N2C3=CC=CC=C3OC4=CC=CC=C42   1380.0
3     71457337    C1=CC=C(C=C1)CCNC(=O)N2C3=CC=CC=C3OC4=CC=CC=C42   1780.0
4     71459185  C1=CC=C(C=C1)CN2C3=CC=CC=C3C(C4=CC=CC=C42)(C5=...   2440.0
..         ...                                                ...      ...
241   58578840  CC(C)OC1=C(C=C(C=C1)NC2=NC(=O)N(C(=O)N2CC3=CC=...  30000.0
242   68020375  CC1=CC=C(C=C1)CN2C(=NC(=O)N(C2=O)CCC(=O)O)NC3=...  30000.0
243  117752163  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...  30000.0
244   89640043  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...  30000.0
245  166630603  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...  30000.0

[246 rows x 3 columns]

In [13]:
# Concatenate the data frames vertically
merged_df = pd.concat([df1, df3, df4])

# Reset index (optional)
merged_df = merged_df.reset_index(drop=True)

# Output the merged data frame
print(merged_df)

                X                                                  Y         Z
0    CHEMBL216504  O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...  100000.0
1     CHEMBL69234  Cc1nc(/N=N/c2ccc(S(=O)(=O)O)cc2S(=O)(=O)O)c(CO...   27500.0
2    CHEMBL413145  O=C(Nc1cccc(C(=O)Nc2cc(C(=O)Nc3ccc(S(=O)(=O)[O...    1000.0
3    CHEMBL494161           COc1cc(C(C)C)c(Oc2cnc(NC(CO)CO)nc2N)cc1I   10000.0
4    CHEMBL526307                  COc1cc(C(C)C)c(Oc2cnc(N)nc2N)cc1I   10000.0
..            ...                                                ...       ...
772      58578840  CC(C)OC1=C(C=C(C=C1)NC2=NC(=O)N(C(=O)N2CC3=CC=...   30000.0
773      68020375  CC1=CC=C(C=C1)CN2C(=NC(=O)N(C2=O)CCC(=O)O)NC3=...   30000.0
774     117752163  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...   30000.0
775      89640043  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...   30000.0
776     166630603  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...   30000.0

[777 rows x 3 columns]

In [14]:
len(merged_df.Y.unique())

556

In [15]:
duplicate_df = merged_df[merged_df.duplicated(subset='Y', keep=False)]

# Group by column Y and aggregate columns X and Z
new_df = duplicate_df.groupby('Y').agg({'Y': 'first', 'X': lambda x: list(x), 'Z': lambda z: list(z)})
new_df

,Y,X,Z
Y,,,
C1=CC=C(C=C1)C2OC3C(OC(C3O2)N4C=NC5=C(N=CN=C54)N)COP(=O)(O)OP(=O)(O)OP(=O)(O)O.N.N.N.N,C1=CC=C(C=C1)C2OC3C(OC(C3O2)N4C=NC5=C(N=CN=C54...,"[155529713, 155526224]","[11000.0, 12400.0]"
C1=Cc2ccccc2N(Cc2ccccc2)c2ccccc21,C1=Cc2ccccc2N(Cc2ccccc2)c2ccccc21,"[CHEMBL3103399, 51089232]","[100000.0, 100000]"
C1CNCC(C1C2=CC=C(C=C2)F)COC3=CC4=C(C=C3)OCO4,C1CNCC(C1C2=CC=C(C=C2)F)COC3=CC4=C(C=C3)OCO4,"[43815, 4691]","[1870.0, 4000.0]"
CC(=O)N1CCN(C[C@@H](C)NC(=O)c2cc3c(-c4ccccc4)nn(C)c3s2)CC1,CC(=O)N1CCN(C[C@@H](C)NC(=O)c2cc3c(-c4ccccc4)n...,"[CHEMBL599760, 51014667]","[10000.0, 10000]"
CC(=O)N1c2ccccc2C=Cc2ccccc21,CC(=O)N1c2ccccc2C=Cc2ccccc21,"[CHEMBL3103397, 51089234]","[100000.0, 100000]"
...,...,...,...
O=C1CN=C(c2cccc(Br)c2)c2oc3ccccc3c2N1,O=C1CN=C(c2cccc(Br)c2)c2oc3ccccc3c2N1,"[CHEMBL2180179, 51325497, 51100073, 50973499, ...","[500.0, 348, 350, 500, 500, 500, 500, 1..."
O=c1c2ccccc2n(Cc2ccc([N+](=O)[O-])cc2)c2ccccc12,O=c1c2ccccc2n(Cc2ccc([N+](=O)[O-])cc2)c2ccccc12,"[CHEMBL2180148, 50973492]","[2490.0, 2490]"
O=c1c2ccccc2n(Cc2ccccc2)c2ccccc12,O=c1c2ccccc2n(Cc2ccccc2)c2ccccc12,"[CHEMBL451082, 50973495]","[5970.0, 5970]"
OC1(c2ccccc2)c2ccccc2N(Cc2ccccc2)c2ccccc21,OC1(c2ccccc2)c2ccccc2N(Cc2ccccc2)c2ccccc21,"[CHEMBL2180149, 50973491]","[2440.0, 2440]"
c1ccc(CN2c3ccccc3Oc3ccccc32)cc1,c1ccc(CN2c3ccccc3Oc3ccccc32)cc1,"[CHEMBL2180180, 50973498]","[10000.0, 10000]"

In [16]:
df = merged_df.drop_duplicates(['Y']).reset_index(drop=True)
df

                X                                                  Y         Z
0    CHEMBL216504  O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...  100000.0
1     CHEMBL69234  Cc1nc(/N=N/c2ccc(S(=O)(=O)O)cc2S(=O)(=O)O)c(CO...   27500.0
2    CHEMBL413145  O=C(Nc1cccc(C(=O)Nc2cc(C(=O)Nc3ccc(S(=O)(=O)[O...    1000.0
3    CHEMBL494161           COc1cc(C(C)C)c(Oc2cnc(NC(CO)CO)nc2N)cc1I   10000.0
4    CHEMBL526307                  COc1cc(C(C)C)c(Oc2cnc(N)nc2N)cc1I   10000.0
..            ...                                                ...       ...
551      58578840  CC(C)OC1=C(C=C(C=C1)NC2=NC(=O)N(C(=O)N2CC3=CC=...   30000.0
552      68020375  CC1=CC=C(C=C1)CN2C(=NC(=O)N(C2=O)CCC(=O)O)NC3=...   30000.0
553     117752163  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...   30000.0
554      89640043  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...   30000.0
555     166630603  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...   30000.0

[556 rows x 3 columns]

In [17]:
df.columns = ['IDs', 'canonical_smiles', 'IC50']

In [18]:
df.to_csv('data/merged_data.csv', index=False)

## change IC50 to pIC50

In [19]:
df.IC50.describe()

count        556.0
unique       254.0
top       100000.0
freq          70.0
Name: IC50, dtype: float64

In [20]:
df['IC50'] = df['IC50'].astype(float)

In [21]:
df.IC50.describe()

count       556.000000
mean      20325.493058
std       33835.205395
min           2.000000
25%         210.500000
50%        3566.500000
75%       19400.000000
max      146000.000000
Name: IC50, dtype: float64

In [22]:
def norm_value(input):
    norm = []

    for i in input['IC50']:
        if i > 100000000:
          i = 100000000
        norm.append(i)

    input['IC50_norm'] = norm
    x = input.drop('IC50', 1)
        
    return x

In [23]:
df_norm = norm_value(df)
df_norm

<ipython-input-22-3d7d6e673ad2>:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = input.drop('IC50', 1)

,IDs,canonical_smiles,IC50_norm
0,CHEMBL216504,O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...,100000.0
1,CHEMBL69234,Cc1nc(/N=N/c2ccc(S(=O)(=O)O)cc2S(=O)(=O)O)c(CO...,27500.0
2,CHEMBL413145,O=C(Nc1cccc(C(=O)Nc2cc(C(=O)Nc3ccc(S(=O)(=O)[O...,1000.0
3,CHEMBL494161,COc1cc(C(C)C)c(Oc2cnc(NC(CO)CO)nc2N)cc1I,10000.0
4,CHEMBL526307,COc1cc(C(C)C)c(Oc2cnc(N)nc2N)cc1I,10000.0
...,...,...,...
551,58578840,CC(C)OC1=C(C=C(C=C1)NC2=NC(=O)N(C(=O)N2CC3=CC=...,30000.0
552,68020375,CC1=CC=C(C=C1)CN2C(=NC(=O)N(C2=O)CCC(=O)O)NC3=...,30000.0
553,117752163,CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...,30000.0
554,89640043,CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...,30000.0
555,166630603,CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...,30000.0

In [24]:
df_norm.IC50_norm.describe()

count       556.000000
mean      20325.493058
std       33835.205395
min           2.000000
25%         210.500000
50%        3566.500000
75%       19400.000000
max      146000.000000
Name: IC50_norm, dtype: float64

In [25]:
def pIC50(input):
    pIC50 = []

    for i in input['IC50_norm']:
        molar = i*(10**-9) # Converts nM to M
        pIC50.append(-np.log10(molar))

    input['pIC50'] = pIC50
    x = input.drop('IC50_norm', 1)
        
    return x

In [26]:
df = pIC50(df_norm)
df

<ipython-input-25-f3ec89c370ba>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = input.drop('IC50_norm', 1)

              IDs                                   canonical_smiles     pIC50
0    CHEMBL216504  O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...  4.000000
1     CHEMBL69234  Cc1nc(/N=N/c2ccc(S(=O)(=O)O)cc2S(=O)(=O)O)c(CO...  4.560667
2    CHEMBL413145  O=C(Nc1cccc(C(=O)Nc2cc(C(=O)Nc3ccc(S(=O)(=O)[O...  6.000000
3    CHEMBL494161           COc1cc(C(C)C)c(Oc2cnc(NC(CO)CO)nc2N)cc1I  5.000000
4    CHEMBL526307                  COc1cc(C(C)C)c(Oc2cnc(N)nc2N)cc1I  5.000000
..            ...                                                ...       ...
551      58578840  CC(C)OC1=C(C=C(C=C1)NC2=NC(=O)N(C(=O)N2CC3=CC=...  4.522879
552      68020375  CC1=CC=C(C=C1)CN2C(=NC(=O)N(C2=O)CCC(=O)O)NC3=...  4.522879
553     117752163  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...  4.522879
554      89640043  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...  4.522879
555     166630603  CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...  4.522879

[556 rows x 3 columns]

## checking charge of the compounds

In [27]:
charges = []
for smi in df['canonical_smiles']:
    mol = Chem.MolFromSmiles(smi)
    charge = sum(atom.GetFormalCharge() for atom in mol.GetAtoms())
    charges.append(charge)

# Add the charges as a new column to the DataFrame
df['charge'] = charges

In [28]:
df.charge.unique()

array([ 0, -1, -6])

what is the index of charge -6

In [29]:
df[df['charge']== -6]

,IDs,canonical_smiles,pIC50,charge
311,50806954,O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...,4.0,-6

what is the index of charge -1

In [30]:
df[df['charge']== -1]

,IDs,canonical_smiles,pIC50,charge
62,CHEMBL1163419,Nc1ncnc2c1ncn2[C@@H]1O[C@H](COP(=O)(O)OP(=O)(O...,4.818156,-1
308,50973501,Nc1ncnc2c1ncn2C1OC(COP(=O)(O)OP(=O)(O)OP(=O)(O...,4.818156,-1
483,5287422,C1=C(C2(C(=CC1=[N+]([O-])[O-])[N+](=O)[O-])OC3...,4.818156,-1

In [31]:
df= df.drop(labels=311, axis=0)
df

,IDs,canonical_smiles,pIC50,charge
0,CHEMBL216504,O=C(Nc1cccc(C(=O)Nc2ccc(S(=O)(=O)[O-])c3cc(S(=...,4.000000,0
1,CHEMBL69234,Cc1nc(/N=N/c2ccc(S(=O)(=O)O)cc2S(=O)(=O)O)c(CO...,4.560667,0
2,CHEMBL413145,O=C(Nc1cccc(C(=O)Nc2cc(C(=O)Nc3ccc(S(=O)(=O)[O...,6.000000,0
3,CHEMBL494161,COc1cc(C(C)C)c(Oc2cnc(NC(CO)CO)nc2N)cc1I,5.000000,0
4,CHEMBL526307,COc1cc(C(C)C)c(Oc2cnc(N)nc2N)cc1I,5.000000,0
...,...,...,...,...
551,58578840,CC(C)OC1=C(C=C(C=C1)NC2=NC(=O)N(C(=O)N2CC3=CC=...,4.522879,0
552,68020375,CC1=CC=C(C=C1)CN2C(=NC(=O)N(C2=O)CCC(=O)O)NC3=...,4.522879,0
553,117752163,CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...,4.522879,0
554,89640043,CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...,4.522879,0
555,166630603,CC(CN1C(=O)N=C(N(C1=O)CC2=CC=C(C=C2)Cl)NC3=CC=...,4.522879,0

In [32]:
df.to_csv('data/p2x4_final.csv', index=False)

In [33]:
selection = ['canonical_smiles','IDs']
df_selection = df[selection]
df_selection.to_csv('molecule.smi', sep='\t', index=False, header=False)

In [34]:
df.pIC50.describe()

count    555.000000
mean       5.644645
std        1.181045
min        3.835647
25%        4.716699
50%        5.460798
75%        6.677786
max        8.698970
Name: pIC50, dtype: float64

In [35]:
pd.set_option('display.max_rows', None)

In [36]:
df2 = df.pIC50.to_string(index=False)
print(df2)

4.000000
4.560667
6.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.469800
5.000000
5.000000
5.612610
5.603801
4.928118
4.987163
5.224026
4.407823
4.570248
5.000000
5.000000
5.405607
5.578396
5.000000
5.991400
5.642065
6.723538
5.628932
4.281498
5.000000
4.970616
5.000000
4.906578
5.570248
4.759451
4.609065
5.749580
5.000000
5.020452
5.000000
4.339135
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.860121
5.000000
4.966576
5.276544
5.367543
5.386158
5.000000
4.634512
5.000000
6.301030
5.728158
4.818156
4.000000
5.000000
4.432974
5.000000
4.000000
4.698970
4.000000
4.000000
5.000000
3.835647
4.137869
4.000000
4.000000
4.815309
4.289037
4.000000
4.262807
4.000000
4.000000
4.279841
4.514279
5.463442
4.000000
4.000000
5.000000
4.698970
4.000000
4.000000
4.000000
4.860121
4.000000
5.109020
4.000000
4.000000
4.467246
4.863279
4.441291
4.471083
4.562249
4.716699
4.000000
4.000000
4.000000
4.102923
4.943095
5.220404
4.000000
4.000000
4.000000
4.632644
4.000000
4.000000
5.000000
4.522879
7.522879
7.124939
7.173925
7.031517
5.774432
7.346787
6.787812
6.616185
6.324222
6.424812
6.355561
6.714443
7.568636
5.597223
6.732828
7.408935
8.698970
7.585027
7.721246
8.301030
6.105684
6.588380
6.856985
7.055517
6.954677
6.224026
7.431798
6.761954
7.075721
7.886057
6.675718
8.096910
5.903090
7.886057
8.000000
5.764977
6.462181
6.570248
4.602060
6.872895
5.905878
7.823909
8.045757
8.698970
7.619789
7.036212
7.119186
6.498941
7.283997
8.000000
7.267606
7.000000
6.107905
6.366532
6.585027
4.528708
4.958607
4.906578
4.000000
4.318759
4.000000
4.522879
4.000000
6.806875
6.809668
7.311580
6.679854
5.000000
6.137272
6.270026
5.823909
7.370590
6.147520
6.809668
6.869666
4.522879
4.522879
4.522879
4.522879
4.522879
5.557520
4.747147
5.860121
5.021819
4.928118
4.671620
4.684030
5.289883
4.853872
4.869666
4.835647
6.298432
5.188425
4.000000
5.560000
4.000000
4.000000
4.980000
4.000000
4.000000
4.000000
4.000000
6.050000
4.000000
4.000000
4.000000
4.000000
4.000000
5.200000
5.964971
5.892112
5.343902
5.378097
5.889410
5.460798
5.806319
5.078886
5.894831
5.279841
5.248721
7.397940
6.804100
6.767004
6.850781
6.844664
6.774691
6.847712
5.664743
5.839531
5.663340
5.977159
4.739929
7.259637
5.116679
5.435097
5.424466
4.845880
4.845880
7.408935
6.029188
6.041914
7.602060
7.431798
7.408935
7.356547
7.292430
7.275724
7.275724
7.130768
7.113509
7.107905
7.107905
7.102373
7.086186
7.060481
7.055517
7.040959
7.036212
7.026872
6.886057
6.886057
6.744727
6.721246
6.568636
6.522879
6.494850
6.494850
6.468521
6.420216
6.366532
6.356547
6.283997
6.267606
6.259637
6.259637
6.229148
6.229148
6.200659
6.187087
6.102373
6.013228
5.920819
5.886057
5.769551
5.744727
5.602060
5.468521
5.431798
5.397940
5.267606
5.000000
4.818156
4.560667
4.432974
6.000000
5.276544
5.860121
5.749580
5.612610
5.991400
6.723538
5.570248
5.405607
5.386158
5.578396
5.728158
5.642065
5.628932
5.224026
5.367543
6.301030
5.469800
5.603801
5.020452
5.109020
5.220404
5.463442
8.045757
8.698970
8.000000
6.585027
6.366532
6.494850
6.107905
7.000000
7.267606
5.597223
6.424812
8.000000
7.283997
5.764977
7.119186
5.774432
7.431798
8.096910
7.173925
6.732828
7.823909
6.856985
6.462181
8.698970
6.324222
8.301030
6.787812
7.346787
7.036212
6.105684
7.568636
6.570248
5.905878
6.872895
6.498941
7.031517
5.903090
7.124939
7.619789
7.522879
7.055517
6.355561
7.721246
7.075721
6.616185
7.886057
7.408935
7.886057
6.588380
6.224026
6.954677
7.585027
6.761954
6.714443
6.809668
6.809668
6.679854
6.137272
6.806875
6.147520
7.311580
6.869666
6.270026
5.823909
7.370590
7.431798
7.356547
7.107905
7.026872
5.468521
6.522879
7.130768
6.259637
6.102373
6.494850
7.113509
6.420216
6.494850
6.886057
7.040959
7.275724
5.602060
6.283997
7.086186
6.886057
6.468521
7.060481
7.036212
6.744727
7.107905
5.267606
6.229148
7.292430
6.229148
7.408935
6.259637
6.187087
6.200659
6.721246
7.602060
5.886057
5.431798
7.055517
7.275724
7.102373
5.769551
6.568636
5.744727
6.366532
6.356547
6.013228
5.920819
6.267606
4.000000
4.560667
5.000000
5.000000
5.000000
5.000000
4.987163
5.000000
4.970616
5.000000
5.000000
5.000000
5.000000
4.281498
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
5.000000
4.928118
5.000000
4.759451
5.000000
4.634512
5.000000
4.609065
5.000000
4.906578
5.000000
5.000000
4.966576
4.818156
5.000000
5.000000
4.570248
4.407823
5.000000
5.000000
4.339135
4.467246
4.000000
4.000000
4.441291
4.102923
4.471083
3.835647
4.000000
5.000000
4.000000
4.514279
4.716699
4.000000
4.863279
4.000000
4.262807
4.000000
5.000000
4.279841
4.000000
4.000000
4.000000
4.000000
4.698970
4.815309
4.860121
4.000000
5.000000
4.000000
4.000000
4.000000
4.000000
4.632644
4.000000
4.698970
5.000000
4.000000
4.000000
4.000000
4.000000
4.943095
4.289037
4.000000
4.137869
4.562249
4.000000
4.432974
4.000000
4.000000
5.000000
4.522879
4.602060
4.000000
4.000000
4.318759
4.958607
4.000000
4.528708
4.522879
5.000000
4.522879
4.522879
4.522879
4.522879
4.522879